{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
    <div class="pagina-inicial">
        {% include 'partials/_header.html' %}
        <main class="principal">
            {% include 'partials/_secMenu.html' %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        <img class="imagem__imagem" src="{{ fotografia.foto.url }}">
                        <div class="imagem__info; card_nb" style="width: 100%; padding: 20px;">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{ fotografia.nome }}</p>
                                <p class="imagem__descricao">{{ fotografia.legenda }}</p>
                                <p class="imagem__texto">{{ fotografia.descricao }}</p>
                            </div>
                        </div>
                            <div style="width: 100%;">                     
                                <a href="{% url 'editar-imagem' fotografia.id %}"><button class="btn btn-success col-6" style="padding: top 5px;">Editar</button></a>
                                <a href="{% url 'deletar-imagem' fotografia.id %}"><button class="btn btn-danger col-6" style="padding: top 5px;">Deletar</button></a>
                            </div>
                    </div>
                </section>
            </section>
        </main>
    </div>

{% endblock %}